<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-FPYSB5CEGQ"
  ></script>
  <script src="assets/js/gtag.min.js?cb=0"></script>
  <link rel="stylesheet" href="assets/css/splide.min.css?cb=0" />
  <link rel="stylesheet" href="assets/css/styles.min.css?cb=0" />
  <link href="favicon.ico?cb=0" rel="icon" type="image/x-icon" />
  <title>@@title</title>
</head>

