@use "../abstracts/all" as *; // ADDED

// Reusuable classes

%page-section {
  width: 100%;
  max-width: var(--section-max);
  margin: val($space, section-y) auto;
  padding: 0 val($space, section-x);

  @include respond(tab-port) {
    padding-inline: val($space, section-x-wide);
  }
}

.page-section {
  @extend %page-section;
}
