@use "../abstracts/all" as *;

.about-page {
  @extend %page-section !optional;

  padding-top: val($space, section-y);
  max-width: 800px;
  margin-inline: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    @include heading-typo;

    margin: 0 0 val($space, lg);
    color: #{palette($palette, primary, main)};
  }

  p {
    @include text-typo;

    line-height: 1.6;
    margin: 0 0 val($space, md);
    max-width: 600px;
  }
}
