// @use "../abstracts/all" as *;

header {
  max-width: 141.4rem;
  margin: 0 auto;
  padding: 2rem 4rem;

  .main_heading {
    text-align: center;
    font-size: 10rem;
  }
}

main {
  max-width: 141.4rem;
  margin: 0 auto;
  padding-bottom: 4rem;

  .container {
    padding: 0 4rem;
  }
}
