@use "../abstracts/all" as *;

.terms-page {
  padding: 4.5rem 2rem;
  max-width: 800px;
  margin-inline: auto;

  h1 {
    @include heading-typo;

    color: #{palette($palette, secondary, main)};
    margin-bottom: val($space, lg);
  }

  p {
    @include text-typo;

    line-height: 1.6;
    margin-bottom: val($space, md);
  }
}

